<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1>Enviar parametros del request HTTP GET</h1>
    <ul>
        <li>
            <a th:href="@{/params/string(texto='Hola que tal estas')}">Enlace a recibir parametros</a>
        </li>
        <li>
            <a th:href="@{/params/mix-params(saludo='Saludos', numero=10)}">Enlace a recibir 2 parametros</a>
        </li>
    </ul>
</body>
</html>